:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
}

/* project section */

#project-section {
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 0;
}

.project-section > h1 {
  border-bottom: 2px solid var(--main-white);
  color: var(--main-white);
  margin-top: 1em;
  margin-bottom: .5em;
}

.project-tile {
  margin: 1em;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: var(--main-white);
  margin-bottom: 1rem;
}

.project {
  background-color: var(--main-gray);
  padding: 0 0 1em 0;
  border-radius: 3px;
  margin: 1em
}

.project a {
  color: var(--main-white);
}

.project h3 {
  padding: .7em 0 0 0;
}

#navbar {
  display: flex;
  position: inherit;
  justify-content: flex-end;
  background-color: var(--main-red);
  height: 3.5em;
  align-items: center;
  position: fixed;
  width: 100vw;
}

#navbar a {
  padding: .65em 1em;
  color: var(--main-white);
  font-size: 1.4em;
}

#navbar a:hover {
  background-color: var(--main-blue);
}

#welcome-section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: var(--main-white);
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  font-size: 2.6em;
}

#welcome-section h3 {
  color: var(--main-red);
  font-style: italic;
}



#show-button {
  margin-bottom: 1em;
}

#show-button button {
  padding: 1em;
  background-color: var(--main-gray);
  color: var(--main-white);

}

img {
  height: 400px;
  width: 400px;
  border-radius: 3px;
}

/*social section */

#social-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 35em;
  color: var(--main-white);
  background-color: var(--main-gray);
  border-bottom: 3px solid var(--main-red);
}

#social-section > div> h1 {
  font-size: 3.5em;
  margin-bottom: .2em;
}

#social-section > h3 {
  font-size: 1.6em;
  margin-bottom: .3em;
}

#social-buttons {
  display: flex;
  margin-top: .7em;
}

#social-buttons i {
  color: var(--main-white);
  margin: 1em;
  font-size: 1.4em;
}

/*footer */

#footer {
  height: 7em;
  background-color: var(--main-gray);
}

#footer div {
  color: var(--main-white);
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 0 1em;
}

#footer div h3 a i {
  color: var(--main-white);
}

@media (max-width: 900px) {
  .projects {
  display: flex;
  flex-direction: column;
  }
}
